<h2>{{message}}</h2>
<div class="table-responsive">
<table class="table" >
    <tr>
        <th>Date</th>
        <th>Transaction</th>
        <th>Payment Instrument</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>22/04/2001</td>
        <td>At StarBuzz, Piscataway</td>
        <td>2314</td>
        <td>25</td>
    </tr>
    <tr>
        <td>01/05/2004</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>05/06/2010</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
    </div>