<div class="container-fluid">
    <div id="theCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#theCorousel" data-slide-to="0" class="active"></li>
            <li data-target="#theCorousel" data-slide-to="1" ></li>
            <li data-target="#theCorousel" data-slide-to="2" ></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="Images/coffee_cup_2.jpg">
                <div class="slide1"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="Images/a-cup-of-coffee.jpg" >
                <div class="slide2"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="Images/coffee_shop.jpg" >
                <div class="slide3"></div>
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <a class="left carousel-control " href="#theCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left "></span>
        </a>
        <a class="right carousel-control " href="#theCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right "></span>
        </a>
    </div>
</div>