<div>
<div id="left_panel">
    <div id="pic_border">
        <div class="container" id="pic_inside" >
            <div class="row">
                <div class="col-lg-3 " border="2px" ><img src="Images/DSC_0261.jpg" height="100" width="120" border="10px"></div>
                <div class="col-lg-9">
                    <div class="well well-lg profile_header"><h3>Hello, Sandeep</h3></div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 section"  border="2px" class="push-right"><a href="#/wallet">Bank and Cards</a></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-2 section" border="2px" ><a href="#/Activity">Activity</a></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-2 section" border="2px" ><a href="#/Details">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron" id="jumbo">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
</div>
</div>